version: "3.8"

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.5
    container_name: milvus-etcd
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    command: >
      etcd
      -advertise-client-urls http://0.0.0.0:2379
      -listen-client-urls http://0.0.0.0:2379
    ports:
      - "2379:2379"
    volumes:
      - ./milvus/volumes/etcd:/etcd

  minio:
    image: minio/minio:RELEASE.2024-01-16T16-07-38Z
    container_name: milvus-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: minio server /minio_data
    ports:
      - "9000:9000"
    volumes:
      - ./milvus/volumes/minio:/minio_data

  milvus:
    image: milvusdb/milvus:v2.4.0
    container_name: milvus
    depends_on:
      - etcd
      - minio
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    ports:
      - "19530:19530"
      - "9091:9091"
    volumes:
      - ./milvus/volumes/milvus:/var/lib/milvus
